# Dependencies
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Package lock file (optional, if you want to exclude)
package-lock.json
